/*Project primary colors to be used*/

$primary-blue: #3A3DC7;
$primary-blue-hover: rgba(#3A3DC7, 0.6);
$secondary-color: #333333;
$secondary-color-red: #E71C1C;


// Neutral colors

$white: #FFFFFF;
$black: #000000;
$neutral-grey-300: rgba(#000000, 0.3);
$neutral-grey-600: rgba(#000000, 0.6);
$neutral-grey-light: rgba(#2F2F2F, 0.27);