@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$h1-400: 2rem;
$h1-500: 2.5rem;

$h2-400: 1.8rem;
$h2-500: 2.2rem;

$h3-400: 1.4rem;
$h3-500: 1.8rem;

$p-400: 1rem;
$p-500: 1.2rem;